<h3>Introduction<h3/>
    
<p>We have a data which classified if patients have heart disease or not according to features in it. We will try to use this data to create a model which tries predict if a patient has this disease or not. We will use logistic regression (classification) algorithm.</p>

<h3>Data Description</h3>

<p>This is a multivariate type of dataset which means providing or involving a variety of separate mathematical or statistical variables, multivariate numerical data analysis. It is composed of 14 attributes which are age, sex, chest pain type, resting blood pressure, serum cholesterol, fasting blood sugar, resting electrocardiographic results, maximum heart rate achieved, exercise-induced angina, oldpeak â€” ST depression induced by exercise relative to rest, the slope of the peak exercise ST segment, number of major vessels and Thalassemia. One of the major tasks on this dataset is to predict based on the given attributes of a patient that whether that particular person has heart disease or not and other is the experimental task to diagnose and find out various insights from this dataset which could help in understanding the problem more.</p> 
Data was downloaded from (https://www.kaggle.com/ronitf/heart-disease-uci)

### Variable Descriptions:
 1.  age(Age of the patient in years)   
 2.  sex(Male/Female)
 3.  cp chest pain type ([typical angina, atypical angina, non-anginal, asymptomatic])
 4.  trestbps resting blood pressure (resting blood pressure (in mm Hg on admission to the hospital))
 5.  chol (serum cholesterol in mg/dl)
 6.  fbs (if fasting blood sugar > 120 mg/dl)
 7.  restecg (resting electrocardiographic results)
     -- Values: [normal, stt abnormality, lv hypertrophy]
 8.  thalach: maximum heart rate achieved
 9.  exang: exercise-induced angina (True/ False)
 10. oldpeak: ST depression induced by exercise relative to rest
 11. slope: the slope of the peak exercise ST segment
 12. ca: number of major vessels (0-3) colored by fluoroscopy
 13. thal: [normal; fixed defect; reversible defect]
 16. target: the predicted attribute

### Project question/idea

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
data_2018 = pd.read_csv('Dataset/heart_2018.csv')
data_2018.head(10)

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
5,6,56,Male,Cleveland,atypical angina,120.0,236.0,False,normal,178.0,False,0.8,upsloping,0.0,normal,0
6,7,62,Female,Cleveland,asymptomatic,140.0,268.0,False,lv hypertrophy,160.0,False,3.6,downsloping,2.0,normal,3
7,8,57,Female,Cleveland,asymptomatic,120.0,354.0,False,normal,163.0,True,0.6,upsloping,0.0,normal,0
8,9,63,Male,Cleveland,asymptomatic,130.0,254.0,False,lv hypertrophy,147.0,False,1.4,flat,1.0,reversable defect,2
9,10,53,Male,Cleveland,asymptomatic,140.0,203.0,True,lv hypertrophy,155.0,True,3.1,downsloping,0.0,reversable defect,1

In [3]:
data_2019 = pd.read_csv('Dataset/heart_2019.csv')
data_2019.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
df = pd.read_csv('Dataset/framingham.csv')
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [5]:
data= pd.concat([data_2018,data_2019])
data

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num,thalach,target
0,1.0,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0.0,NaN,NaN
1,2.0,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2.0,NaN,NaN
2,3.0,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1.0,NaN,NaN
3,4.0,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0.0,NaN,NaN
4,5.0,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,NaN,59,1,NaN,1,140.0,221.0,0,1,NaN,1,0.0,2,0.0,2,NaN,164.0,1.0
1021,NaN,60,1,NaN,0,125.0,258.0,0,0,NaN,1,2.8,1,1.0,3,NaN,141.0,0.0
1022,NaN,47,1,NaN,0,110.0,275.0,0,0,NaN,1,1.0,1,1.0,2,NaN,118.0,0.0
1023,NaN,50,0,NaN,0,110.0,254.0,0,0,NaN,0,0.0,2,0.0,2,NaN,159.0,1.0
1024,NaN,54,1,NaN,0,120.0,188.0,0,1,NaN,0,1.4,1,1.0,3,NaN,113.0,0.0

In [6]:
df = df.dropna()
df.info()
df.iloc[:]['age']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3658 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             3658 non-null   int64
 1   age              3658 non-null   int64
 2   education        3658 non-null   float64
 3   currentSmoker    3658 non-null   int64
 4   cigsPerDay       3658 non-null   float64
 5   BPMeds           3658 non-null   float64
 6   prevalentStroke  3658 non-null   int64
 7   prevalentHyp     3658 non-null   int64
 8   diabetes         3658 non-null   int64
 9   totChol          3658 non-null   float64
 10  sysBP            3658 non-null   float64
 11  diaBP            3658 non-null   float64
 12  BMI              3658 non-null   float64
 13  heartRate        3658 non-null   float64
 14  glucose          3658 non-null   float64
 15  TenYearCHD       3658 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 485.8 KB

0       39
1       46
2       48
3       61
4       46
        ..
4233    50
4234    51
4237    52
4238    40
4239    39
Name: age, Length: 3658, dtype: int64

### DATA HANDLING FUNCTIONS

In [7]:
# 60-20-20 Split
def SplitData(Data):
    size = Data.shape[0]
    training = Data.iloc[:int(0.6*size)]
    validation = Data.iloc[int(0.6*size):int(0.8*size)]
    testing = Data.iloc[int(0.8*size):]
    
    return (training, validation, testing)
    
    
# FOR DISTINCTION PURPOSES
def DropNULLS(Data):
    return Data.dropna()

### NAIVE BAYES

In [8]:
def Priors(ClassArray):
    probabilities = np.array([]);
    classes, counts = np.unique(ClassArray, return_counts = True)
    
    for i in counts:
        probabilities = np.append(probabilities, [i/np.sum(counts)])
        
    return (classes, counts, probabilities)




def NaiveBayes(classIndex , trainData , dataPoint):
    classes , classCounts , priorProbs = Priors(trainData.iloc[:,classIndex])
    totalProbs = np.array([])
    
    for i in range(len(classes)):
        
        prob = priorProbs[i]
        Class = classes[i]
        classOccurance = classCounts[i]
        
        for j in range(len(dataPoint)):
            
            if j == classIndex:
                continue
                
            fCount = 0
            
            for k in range(len(trainData)):
                if len(np.where(trainData.iloc[k][classIndex] == Class and trainData.iloc[k][j] == dataPoint[j])[0] > 0):
                    fCount += 1 
            
            fCount = fCount/classOccurance
            prob *= fCount 
            
        totalProbs = np.append(totalProbs , [prob])
    
    return (totalProbs , classes);


def ConfusionMatric(trainingSet , testingSet):
    index = 0
    TP = 0 
    TN = 0 
    FN = 0 
    FP = 0
    
    for i in range(len(testingSet)):
#     for dataPoint in testingSet:
        dataPoint = testingSet.iloc[i]
        probs , classes = NaiveBayes(index , trainingSet , dataPoint)
        predicted = classes[np.argmax(probs)]
        trueValue = testingSet.iloc[i].TenYearCHD
        print(trueValue , predicted)
        if trueValue == 1:
            if predicted == trueValue:
                TP += 1
            else : 
                FN += 1
        else:
            if predicted == trueValue:
                TN += 1
            else : 
                FP += 1
    
    
    ConfusionMatrix = np.array([[TP , FP],[FN , TN]])
    return ConfusionMatrix

In [9]:
training, validation, testing = SplitData(df)

In [ ]:
matrix = ConfusionMatric(training, testing)

1.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
1.0 0
0.0 0
0.0 0
0.0 0
0.0 1
0.0 1
0.0 0
0.0 1
0.0 1
0.0 1
0.0 1
0.0 1
0.0 0
0.0 1
0.0 1
0.0 0
0.0 0
0.0 1
0.0 0
0.0 0
1.0 1
0.0 0
0.0 1
0.0 0
0.0 0
0.0 1
1.0 0
1.0 0
0.0 1
0.0 1
1.0 0
0.0 0
0.0 0
0.0 1
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 1
1.0 1
0.0 0
0.0 1
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 1
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
1.0 1
0.0 0
0.0 1
0.0 0
0.0 0
0.0 0
1.0 0
1.0 0
0.0 0
0.0 0
0.0 0
1.0 0
0.0 1
0.0 0
0.0 0
0.0 0
1.0 1

In [ ]:
matrix

In [ ]:
testing.shape